body{background-color:#ddd !important;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.square{width:200px;height:200px;transition:0.2s linear all;background-color:#000}