body{
	background-color: #ddd !important;
	display: flex;
	align-items: center;
	//justify-content: center;
} 


.square{
	width: 200px;
	height: 200px;
	//margin-left: 250px;
	//margin-top: -250px;
	transition: 0.2s linear all;
	background-color: #000;
}