/*Loader*/

#loader-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #00C5FF;
	left: 0;
}

#loader{
	position:relative;
	top:50%;
	margin: -240px auto;
   	width: 320px;
   	height: 480px;
	text-align: center;
	background: #d9d9d9;
	box-shadow: 0 0 38px rgba(0,0,0,0.25);
	color: #363636;
}

#loader-logo{
	height: 100px;
	background: #f4f4f4;
}
#loader-logo>img{
	margin-top: 20px;
	height: 65px;
}

.loader-txt{
	margin: 20px;
	margin-bottom:10px;
}

.loader-ports{
	padding: 0 20px;
	height: 250px;
	overflow-y:auto;
}

.loader-ports>p, #loader-button{
	margin: 10px auto;
	border-radius: 4px;
	height: 40px;
	background: #f4f4f4;
	color: #4f4f4f;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	font-family: 'SourceSansProBold';
}

.loader-ports>p:hover{
	border:1px solid white;
	color: #363636;
}

.active-port{
	background: #004f57!important;
	color: #d9d9d9!important;
	cursor:inherit!important;
	transition: background 0.1s linear;
}

.active-port:hover{
	border:none!important;
}

#loader-button{
	margin: 0 20px;
	background: #ffde00;
	border-bottom: 1px solid #e1c400;
	transition: background 0.1s linear;
}

#loader-button:hover{
	background: #ffba00;
	border-color: #ca9300;
}

#discover-button, #resume-button{
	text-decoration: underline;
	display: block;
	width: 200px;
	margin:10px auto;
	cursor:pointer;
}


#discover-button:hover, #resume-button:hover{
	font-family:"SourceSansProBold";
	color: #00C5FF;
}

#loader-error{
	width:100%;
	position: absolute;
	bottom: 0;
	background: #FF461A;
	padding:10px 0;
	color:white;
	text-align: center;
}

#involthankyou{
	font-family:"SourceSansProLight";
    margin: 0 auto;
    margin-top: 300px;
    width: 90%;
    text-align: center;
    font-size: 36px;
}